*{
    box-sizing: border-box;
}

html{
    line-height: 1;
}

 
.vidbg {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.vidbg h1 {
    font-size: 60px;
    font-weight: bolder;
    color: white;
    position: absolute;
    z-index: 11;
}
.videobg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


body{
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.45;
    color: #6c757d;
    text-align: left;
    background-color: white;
}

.about-img{
    margin-top: -22rem;
    margin-left: 37rem;
     
}

.btn{
    padding: 10px 25px;
    border-radius: 100px;
}

.btn-white{
    background-color: white;
    border: 2px solid white;
}

.btn-blue{
    border: 2.3px solid white;
    color: white;
}

.hero-text{
    margin-top: 180px;
}

.position-absolute{
    font-weight: 700;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:active{
    color: #87CEEB;

}

.display-1{
    font-size: 160px;
    font-weight: 1000;
}

.ex-me{
    margin-top: 35px;
}


.bisnis-box{
    box-shadow: 0px 1px 7px rgba(0,0,0,0.1);
    margin-left: 20px;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 0px;
}

.bisnis-box:hover{
    box-shadow: 0px 1px 12px rgba(27, 27, 27, 0.7)
}

